{% extends "personal/header.html" %}

{%block content%} 

    <h2>Hi! Welcome to chaNGO</h2>
	<p> <strong>Select an NGO which is closest to your area</strong> </p>
	<p>Street Cause: 
	   The NGO has been established to create a platform for youngster’s intent on doing their bit towards the betterment of the society with the objective of helping the underprivileged and destitute in every way possible.
Every volunteer ensures utmost commitment and transparency throughout his/her term.
The organization abides by its rules and keeps the incomes and expenses completely transparent.
     Please contact:8897770115 Email:streetcause@gmail.com </p>
	 <p><strong>Smile:</strong>
	 When we think of childhood, we instantly go back to the happy, carefree days when school was our second home and homework was the biggest trouble we had in our lives – morning assembly, lunch break, games period, making paper boats, walking back home with friends, mom making us ready in spotless uniform, we ruining the uniform by end of school every day, punishments, the list goes on.
	 contact:880277244</p>
	 <p><strong> Sahay Organization</strong>
	 This NGO has been alive since 30 years.It deals with key issues like Animal Husbandry, Dairying & Fisheries, Aged/Elderly, Agriculture, Children, Disaster Management, Environment & Forests, HIV/AIDS, Labour & Employment, Rural Development & Poverty Alleviation, Vocational Training, Women's Development & Empowerment
	 Contact:9394005600 sahayogorganisation@yahoo.com</p>
	 <p><strong> Maya Foundations</strong>
	 Founded in 2009, Maya CARE is supported through personal funds by working professionals – Abhay Joshi and his wife Manjiri (Gokhale) Joshi. Maya CARE services are available FREE of charge. However, appreciation in the form of voluntary donations from individuals/groups/companies is welcome.

Maya CARE has a network of co-ordinators and volunteers running help lines in 10 Indian cities: Mumbai, Pune, Bangalore, Chennai, Hyderabad, Delhi-NCR, Meerut, Ahmadabad, Nasik and Nagpur.

Maya CARE volunteers include college students, homemakers, working professionals and active senior citizens who visit senior citizens in their own homes to provide services. None of us can ever replace a family member. But as professionals struggle to meet the demands of an active work life, each of us at Maya CARE have pledged to make up for their absence with integrity, responsibility and patience.
       </p>
	   
	   <p> To make your donations, please contact the above nearest NGO's! Thank you. </p>
	
	<p>Click <a href="/accounts/login/" > here</a> to logout.</p>
 
 {%endblock%}